body {
  border: 1px solid red;
  font-family: sans-serif;
  background-color: #eceef1;
}

header {
  display: flex;
  float: right;
  margin-top: 2%;
  margin-right: 1%;
  width: 25%;
  background-color: lightcoral;
  justify-content: flex-end;
}

.already {
  background-color: indigo;
}

#already {
  margin: 0;
}

.signin {
  display: flex;
  border-radius: 5px;
  background-color: #0077c5;
  margin-left: 5px;
  padding: 0 20px;
  height: 30px;
}

.material-icons {
  padding-top: 4px;
  color: white;
}

p {
  margin-top: 7px;
  color: white;
}

.main {
  width: 100%;
  clear: right;
  text-align: center;
}

.logo {
  display: inline-block;
  margin-top: 5%;
  width: 560px;
  height: 500px;
  background-color: green;
}
